<div class="section-gray">
  <br />
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Poornima and Kevin: A Timeline</h1>
        <hr class="horizontalSpacer">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/assets/img/ice_rink.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>June 27th, 2015</h4>
                <h4 class="subheading">Matched on Tinder</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Two innocuous swipes to the right and some casual conversation about movies sealed our fates and intertwined our stories.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/assets/img/swing_dancing.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 30th, 2015</h4>
                <h4 class="subheading">Officially Dating</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  A movie, a trip to the casino, and some so-so fast-casual pizza kicked off a romantic Autumn full of apple picking and swing dancing.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/assets/img/nyc_ice_cream.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 18th, 2017</h4>
                <h4 class="subheading">New York City</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  We have bonded over a love of food and a strong desire to travel and explore. Our many adventures, both past and future, have and will evoke the same joy as a spontaneous New York City ice cream stop in chilly February.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/assets/img/engaged.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 17th, 2018</h4>
                <h4 class="subheading">Engaged</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  As we glided around an empty ice rink with Frank Sinatra setting the mood, the outside world faded away. Kevin proposed, Poornima accepted, and a chance encounter with Neil DeGrasse Tyson blessed the proposal later that day.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/assets/img/walking.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">And Beyond...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  We're excited to live our lives for each other and by each other's sides. Through the happiest of highs and the lowest of lows, we'll have each other.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <br />
  </div>
  <div class="container visible-xs">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Poornima and Kevin: A Timeline</h1>
        <hr class="horizontalSpacer">
          <img class="img-circle img-responsive" src="/assets/img/ice_rink.jpg" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h4>June 27th, 2015</h4>
        <h4 class="subheading">Matched on Tinder</h4>
        <p class="text-muted">
          Two innocuous swipes to the right and some casual conversation about movies sealed our fates and intertwined our stories.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <img class="img-circle img-responsive" src="/assets/img/swing_dancing.jpg" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h4>July 30th, 2015</h4>
        <h4 class="subheading">Officially Dating</h4>
        <p class="text-muted">
          A movie, a trip to the casino, and some so-so fast-casual pizza kicked off a romantic Autumn full of apple picking and swing dancing.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <img class="img-circle img-responsive" src="/assets/img/nyc_ice_cream.jpg" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h4>February 18th, 2017</h4>
        <h4 class="subheading">New York City</h4>
        <p class="text-muted">
          We have bonded over a love of food and a strong desire to travel and explore. Our many adventures, both past and future, have and will evoke the same joy as a spontaneous New York City ice cream stop in chilly February.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <img class="img-circle img-responsive" src="/assets/img/engaged.jpg" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h4>March 17th, 2018</h4>
        <h4 class="subheading">Engaged</h4>
        <p class="text-muted">
          As we glided around an empty ice rink with Frank Sinatra setting the mood, the outside world faded away. Kevin proposed, Poornima accepted, and a chance encounter with Neil DeGrasse Tyson blessed the proposal later that day.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <img class="img-circle img-responsive" src="/assets/img/walking.jpg" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h4 class="subheading">And Beyond...</h4>
        <p class="text-muted">
          We're excited to live our lives for each other and by each other's sides. Through the happiest of highs and the lowest of lows, we'll have each other.
        </p>
      </div>
    </div>
    <br />
  </div>
</div>
