<header>
  <div class="container">
    <div>
      <a class="js-nav-toggle nav-toggle dark" (click)="toggleNavbar()"><i></i></a>
      <h1 id="logo"><a class="brand" routerLink="/home">P &amp; K</a></h1>
      <!-- START #menu-wrap -->
      <nav id="menu-wrap" role="navigation" [ngClass]="{ 'show': navbarOpen }">
        <ul class="sf-menu" id="primary-menu">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/whenwhere">When &amp; Where</a></li>
          <!-- <li><a routerLink="/gallery">Gallery</a></li> -->
          <li><a routerLink="/ceremony">Ceremony</a></li>
          <!-- <li *ngIf="!userIsAuthenticated"><a routerLink="/rsvp">RSVP</a></li> -->
          <!-- <li *ngIf="userIsAuthenticated"><a routerLink="/rsvp-details">RSVP</a></li> -->
          <!-- <li><a *ngIf="userIsAuthenticated && userIsAdmin" routerLink="/createUser">Create User</a></li> -->
          <!-- <li><a href="#" *ngIf="userIsAuthenticated" (click)="logout()">Logout</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
