<header>
  <div class="container">
    <div>
      <a class="js-nav-toggle nav-toggle dark" (click)="toggleNavbar()"><i></i></a>
      <h1 id="logo"><a class="brand" routerLink="/home">P &amp; K</a></h1>
      <nav id="menu-wrap" role="navigation" [ngClass]="{ 'show': navbarOpen }">
        <ul class="sf-menu" id="primary-menu">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/ourStory">Our Story</a></li>
          <li><a routerLink="/whenwhere">When &amp; Where</a></li>
          <li><a routerLink="/ceremony">Ceremony</a></li>
          <li *ngIf="userIsAuthenticated && !userHasRsvpdBefore"><a routerLink="/rsvp-details">RSVP</a></li>
          <li *ngIf="userIsAuthenticated"><a routerLink="/wedding-details">Details</a></li>
          <li *ngIf="userIsAuthenticated"><a class="pointer" (click)="logout()">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
