<div class="mehndi" parallax [config]="{initialValue: 200, ratio: .5}"></div>
<div id="ceremony" class="section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Before the Ceremony</h1>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">मेंहदी</span> (Mehndi)</h2>
        <p>Mehndi, or henna, is applied to the hands and feet of the bride and her female friends and family. It is believed that the deeper the color on the bride's hands, the stronger the love between husband and wife.</p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">पीठी</span> (Pithi)</h2>
        <p>Pithi is a golden paste made of chick pea flour, turmeric, sandalwood, and other ingredients. This paste is applied to the face, arms, and legs of the bride and groom before the wedding to signify good health and leave their skin glowing.</p>
      </div>
    </div>
  </div>
</div>
<div class="mums" parallax [config]="{initialValue: 200, ratio: .5}"></div>
<div id="ceremony" class="section-gray">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>The Ceremony</h1>
        <p>
          The Hindu wedding ceremony is elaborate, with every step rooted in
          vedic tradition, signifying various aspects of life that are to follow after the
          wedding. The ceremony takes place inside a mandap, or stage, which is decorated with flowers.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">द्वार पूजा</span> (Dwar Puja) - The Groom's Arrival</h2>
        <p>
          The groom arrives for the wedding with his family. They are all greeted by the bride's family. The bride's mother then performs a welcoming ritual for good luck and leads the groom to the mandap.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">कन्या आगमन</span> (Kanya Aagaman) - The Bride's Arrival</h2>
        <p>
          Upon arrival, the bride's father escorts her into the mandap.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">गणेश पूजा</span> (Ganesh Puja) - Worshipping Lord Ganesha</h2>
        <p>
          The ceremony begins by offering a prayer to Lord Ganesha. Lord Ganesha is worshipped, so he may remove all obstacles and bless the couple.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">जय माला</span> (Jai Mala) - Exchanging of Garlands</h2>
        <p>
          The couple exchange flower garlands, signifying the acceptance of one another and to pledge their respect for one another as partners in life.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">कन्यादान</span> (Kanya Daan) &amp; हस्त मिलाप (Hasta Milap) - Giving Away The Bride</h2>
        <p>
          In the Hindu religion, the Kanya Daan is considered the most magnificent offering a bride's parents make. The Kanya Daan symbolizes the bride in the form of Goddess Laxmi and groom as Lord Narayana. Here, the bride's family displays the act of giving her to the groom and his family.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">सप्तपदी</span> (Saptapadi) - The Seven Steps</h2>
        <p>
          Saptapadi is the most important rite of a Hindu marriage ceremony. After tying together their wedding scarves, the couple takes seven steps around the holy fire. After the seventh step, the couple legally become husband and wife.
        </p>
        <p>Each step around the fire represents a different vow:</p>
        <ul class="vows">
          <li>To nourish each other</li>
          <li>To remain lifelong friends</li>
          <li>To be together forever</li>
          <li>To care for our children</li>
          <li>To share our joys and sorrows</li>
          <li>To preserve our wealth</li>
          <li>To grow together in strength</li>
          <!-- <li>With the promise to nourish each other, I take this first step with you.</li>
          <li>With determination to grow together in strength physical, mental, and spiritual, I take this second step with you.</li>
          <li>With the promise to preserve our wealth and prosperity, I take this third step with you.</li>
          <li>With the vow to serve you with happiness and harmony, I take this fourth step with you.</li>
          <li>With the promise to care for our healthy long lived children, I take this fifth step with you.</li>
          <li>With the vow to be together forever in all responsibilities, I take this sixth step with you.</li>
          <li>With the promise of everlasting friendship and true companionship, I take this seventh step with you.</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
