<div class="mehndi" parallax [config]="{initialValue: 200, ratio: .5}"></div>
<div id="ceremony" class="section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Before the Ceremony</h1>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">गृह शांति</span> (Graha Shanti)</h2>
        <p>The Graha Shanti Puja is conducted for the purpose of bringing peace to the couple. It has to be performed in nine parts, as there are nine planets that must be prayed to.
            The Graha Shanti Puja is primarily aimed at reducing or eliminating the negative effects of the planets that are not aligned in our favor as per our horoscopes. </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">मेंहदी</span> (Mehndi)</h2>
        <p>Mehndi, or henna, is applied to the hands and feet of the bride and her female friends and family. It is believed that the deeper the color on the bride's hands, the stronger the love between husband and wife.</p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">पीठी</span> (Pithi)</h2>
        <p>Pithi is a golden paste made of chick pea flour, turmeric, sandalwood, and other ingredients. This paste is applied to the face, arms, and legs of the bride and groom before the wedding to signify good health and leave their skin glowing.</p>
      </div>
    </div>
  </div>
</div>
<div class="mums" parallax [config]="{initialValue: 200, ratio: .5}"></div>
<div id="ceremony" class="section-gray">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>The Ceremony</h1>
        <p>
          The Hindu wedding ceremony is elaborate, with every step rooted in
          vedic tradition, signifying various aspects of life that are to follow after the
          wedding. The ceremony takes place inside a mandap, or stage, which is decorated with flowers, and is conducted by a Hindu priest, known as a Pundit.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">द्वार पूजा</span> (Dwar Puja) - Welcoming the Groom</h2>
        <p>
          The groom arrives for the wedding with his family. They are all greeted by the bride's family. The bride's mother then performs a welcoming ritual for good luck and leads the groom and his parents to the mandap.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">गणेश पूजा</span> (Ganesh Puja) - Worshipping Lord Ganesha</h2>
        <p>
          The ceremony begins by offering a prayer to Lord Ganesha who removes all obstacles from our paths.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">कन्या आगमन</span> (Kanya Aagaman) - The Bride's Entrance</h2>
        <p>
          Upon arrival, the bride is escorted into the mandap.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">जय माला</span> (Jai Mala) - Exchanging of Garlands</h2>
        <p>
          The couple exchange flower garlands, signifying the acceptance of one another and to pledge their respect for one another as partners in life.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">कन्यादान</span> (Kanya Daan) - Giving Away The Bride</h2>
        <p>
          The bride's father joins the hands of his daughter and the groom, declaring to all gathered that he is handing her to the care of the man of her heart. The bride's father desires a pledge from the groom seeking his enduring love, fidelity, and security in caring for his daughter.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">सात फेरे</span> (Saat Phere) - The Seven Vows</h2>
        <p>
          The Pundit ceremoniously ties the groom and bride's garments, symbolizing their union. The couple then walks around the sacred fire seven times, representing their vows:
        </p>
        <ul class="vows">
          <li>To live together with mutual understanding, support, and trust</li>
          <li>To be devoted and faithful to each other</li>
          <li>To lead life as one soul</li>
          <li>To pursue happiness, knowledge, and harmony</li>
          <li>To respect each other's wishes</li>
          <li>To care for each other's spiritual and physical well being</li>
          <li>To be true companions and partners for life</li>
        </ul>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">मंगल सूत्र</span> (Mangal Sutra) - The Sacred Necklace</h2>
        <p>
          The groom places the mangal sutra around the bride's neck to symbolize his enduring commitment to her. The groom then puts sindhur (red powder) on the crown of the bride's head to signify that the bride is now a married woman.
        </p>
        <hr class="horizontalSpacer">
        <h2><span class="hindi">आशीर्वाद</span> (Aashirwad) - Blessings</h2>
        <p>
          The Pundit offers the newly wedded couple blessings of eternal strength, wealth, glory, peace, prosperity, and happiness.
        </p>
      </div>
    </div>
  </div>
</div>
