<div id="whenwhere" class="section-gray">
  <div class="container">
    <hr class="horizontalSpacer">
    <div class="row">
      <div class="text-center">
        <h1>When</h1>
        <p><b>August 17th, 2019</b></p>
        <p>4:00PM - Ceremony</p>
        <p>5:00PM - Cocktail Hour</p>
        <p>6:00PM - Dinner and Reception</p>
      </div>
    </div>
    <br />
    <hr class="horizontalSpacer">
    <br />
    <div class="row">
      <div class="text-center">
        <h1>Where</h1>
        <p><b>BWI Marriott Hotel</b></p>
        <p>1743 W Nursery Rd</p>
        <p>Linthicum Heights, MD 21090</p>
      </div>
    </div>
    <br />
    <hr class="horizontalSpacer">
  </div>
</div>