.div-middle div[ngui-sticky] {
    margin: 0;
    background: #fff;
  }
.sticky-container {
  overflow: hidden !important;
}

#wrapper {
  min-height: 100vh;
  background-color: #F6FAF7;
}
.main-content {
  height: 100%;
}
/* .main-content {
  min-height: 69.75vh;
  background-color: #F6FAF7;
} */