<div class="section-gray text-center">
  <br /><br />
  <h1>RSVP - Details</h1>
  <div class="container">
    <div class="loadingSpinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
      <p>Please let us know who will be attending:</p>
      <form #loginForm="ngForm">      
        <input name="username"
        ngModel
        #usernameInput="ngModel"
        type="username"
        placeholder="Username"
        required>
        <br />
        <input name="password"
        ngModel
        #passwordInput="ngModel"
        type="password"
        placeholder="Password"
        required>
        <br /><br />
        <p>Additional comments:</p>
        <textarea name="comments" ngModel #commentsInput="ngModel" placeholder="Additional comments"></textarea>
      </form>
    </div>
  </div>
  <br /><br />
</div>